<div class="font-semibold row mt-2">
    <div class="col-sm-12">
      {{menuTitle}}
    </div>
  </div>
  
  <div class="mt-3 col-lg-12" style="padding: 0; height: 88%;">
    <form [formGroup]="formGroup">
      <div class="row align-items-center">
        <div class="col-md-3 ">
          <div class="field">
            <label for="Target_Data_Topic_Name" title="Target Data Topic Name" data-title="Target Data Topic Name"></label>
            <input formControlName="Target_Data_Topic_Name" autocomplete="off" type="text" id="Target_Data_Topic_Name"
              name="Target_Data_Topic_Name" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Target_Data_Topic_Attribute_Name" title="Target Data Topic Attribute Name"
              data-title="Target Data Topic Attribute Name"></label>
            <input formControlName="Target_Data_Topic_Attribute_Name" autocomplete="off" type="text"
              id="Target_Data_Topic_Attribute_Name" name="Target_Data_Topic_Attribute_Name" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Target_Data_Topic_Attribute_Definition" title="Target Data Topic Attribute Definition"
              data-title="Target Data Topic Attribute Definition"></label>
            <input formControlName="Target_Data_Topic_Attribute_Definition" autocomplete="off" type="text"
              id="Target_Data_Topic_Attribute_Definition" name="Target_Data_Topic_Attribute_Definition" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Source_System" title="Source System"
              data-title="Source System"></label>
            <textarea formControlName="Source_System" name="Source_System"
              id="Source_System" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
  
  
      <div class="row align-items-center">
        <div class="col-md-3 ">
          <div class="field">
            <label for="Source_Data_Topic_Name" title="Source Data Topic Name" data-title="Source Data Topic Name"></label>
            <input formControlName="Source_Data_Topic_Name" autocomplete="off" type="text" id="Source_Data_Topic_Name"
              name="Source_Data_Topic_Name" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Source_Data_Topic_Attribute_Name" title="Source Data Topic Attribute Name" data-title="Source Data Topic Attribute Name"></label>
            <input formControlName="Source_Data_Topic_Attribute_Name" autocomplete="off" type="text" id="Source_Data_Topic_Attribute_Name"
              name="Source_Data_Topic_Attribute_Name" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Source_Data_Topic_Attribute_Definition" title="Source Data Topic Attribute Definition" data-title="Source Data Topic Attribute Definition"></label>
            <input formControlName="Source_Data_Topic_Attribute_Definition" autocomplete="off" type="text" id="Source_Data_Topic_Attribute_Definition"
              name="Source_Data_Topic_Attribute_Definition" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Country_Code" title="Country Code" data-title="Country Code"></label>
            <input formControlName="Country_Code" type="number" name="Country_Code" id="Country_Code" />
          </div>
        </div>
      </div>
  
  
      <div class="row align-items-center">
        <div class="col-md-3 ">
          <div class="field">
            <label for="Source_To_Target_Mapping_BusinessRule" title="Source To Target Mapping BusinessRule" data-title="Source To Target Mapping BusinessRule"></label>
            <input formControlName="Source_To_Target_Mapping_BusinessRule" autocomplete="off" type="text" id="Source_To_Target_Mapping_BusinessRule"
              name="Source_To_Target_Mapping_BusinessRule" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Data_Processing_Type" title="Data Processing Type" data-title="Data Processing Type"></label>
            <input formControlName="Data_Processing_Type" autocomplete="off" type="text" id="Data_Processing_Type"
              name="Data_Processing_Type" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Created_By" title="Created By" data-title="Created By"></label>
            <input formControlName="Created_By" autocomplete="off" type="text" id="Created_By" name="Created_By" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Created_Date" title="Created Date"
              data-title="Created Date"></label>
            <input formControlName="Created_Date" type="date" name="Created_Date"
              id="Created_Date" />
          </div>
        </div>
      </div>
  
  
      <div class="row align-items-center">
        <div class="col-md-3 ">
          <div class="field">
            <label for="Approver_Remarks" title="Approver Remarks"
              data-title="Approver Remarks"></label>
            <input formControlName="Approver_Remarks" autocomplete="off" type="text"
              id="Approver_Remarks" name="Approver_Remarks" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Updated_By" title="Updated By"
              data-title="Updated By"></label>
            <input formControlName="Updated_By" autocomplete="off" type="text"
              id="Updated_By" name="Updated_By" />
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="field">
            <label for="Updated_Date" title="Updated Date" data-title="Updated Date"></label>
            <input formControlName="Updated_Date" autocomplete="off" type="date" id="Updated_Date" name="Updated_Date" />
          </div>
        </div>
      </div>
  
    </form>
  
  
    <div class="mt-4 row align-items-center justify-content-end">
      <div class="col-md-3">
        <button class="col-12 font-medium background-primary text-white py-2 rounded-lg" (click)="handleSave()">
          Save
        </button>
      </div>
  
    </div>
  
  </div>
  