<div class="font-semibold row mt-2">
  <div class="col-sm-12">
    {{menuTitle}}
  </div>
</div>

<div class="mt-3 col-lg-12" style="padding: 0; height: 88%;">
  <form [formGroup]="formGroup">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="field">
          <label for="business_date" title="Business date" data-title="Business date"></label>
          <input formControlName="business_date" autocomplete="off" type="date" id="business_date"
            name="business_date" />
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="field">
          <label for="cty" title="Cty" data-title="Cty"></label>
          <input formControlName="cty" autocomplete="off" type="text" id="cty" name="cty" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="field">
          <label for="system_name" title="System name" data-title="System name"></label>
          <input formControlName="system_name" autocomplete="off" type="text" id="system_name" name="system_name" />
        </div>
      </div>
    </div>


    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="field">
          <label for="desc" title="Description" data-title="Description"></label>
          <textarea formControlName="desc" autocomplete="off" type="text" id="desc" name="desc"> </textarea>
        </div>
      </div>
    </div>
  </form>


  <div class="mt-4 row align-items-center justify-content-end">
    <div class="col-md-3">
      <button class="col-12 font-medium background-primary text-white py-2 rounded-lg" (click)="handleSave()">
        Save
      </button>
    </div>

  </div>

</div>
