<div class="pt-3">
  <div class="px-3">
    <div class="row gap-y-2 relative align-items-center h-16">
      <div class="col-md-2 p-0">
        <img class="col-9 logo-header" src="../../../assets/Metadata.jpeg" alt="">
      </div>

      <div class="text-center p-0 col-md-9 link-style  ">
        <ul class="social-links row p-0 m-0">
          <li class="w-fit">
            <span (click)="scroll(home)">
              Home
            </span>
          </li>

          <li class="w-fit">
            <span (click)="scroll(about)">
              About us
            </span>
          </li>

          <li class="w-fit">
            <span (click)="scroll(rwfd)">
              About Data Agarathi
            </span>
          </li>
          
          <li class="w-fit">
            <span (click)="scroll(businessMetadata)">
              Business Metadata <br>
              Product
            </span>
          </li>


          <li class="w-fit">
            <span (click)="scroll(operationalMetadata)">
              Operational Metadata <br>
              Product
            </span>
          </li>

          <li class="w-fit">
            <span (click)="scroll(technicalMetadata)">
              Technical Metadata <br>
              Product
            </span>
          </li>

          <li class="w-fit">
            <span (click)="scroll(contact)">
              Contact
            </span>
          </li>
        </ul>
      </div>

      <div class="col-md-1 p-0 h-16">
        <div
          class="addmember text-2xl h-16 tracking-wider font-bold text-sm text-white d-flex align-items-center justify-content-center text-uppercase col-12 link-style">
          <img width="30" style="filter: brightness(0) invert(1);" src="../../../assets/dictionary.png" alt="">
        </div>
      </div>

      <div class="bar absolute right-0" style="top: -5px;"></div>

    </div>
  </div>

  <div class="header-con" #home>
    <img src="../../../assets/datas.png" class="mx-auto" style="width: 100%; height: 100%;" alt="">
  </div>

  <div class=" mt-5 pt-5" #about>
    <div class="row align-items-center">
      <div class="col-md-5">
        <img class="col-9 mx-auto" src="../../../assets/data-science.png" alt="">
      </div>

      <div class="col-md-7 px-5">
        <!-- <p class="about mb-1 text-xs text-danger font-bold tracking-wider ">
          INFORMATION ABOUT US
        </p> -->

        <h2 class="text-4xl font-extrabold text-uppercase">
          About 
          <span class=" text-danger">
            Us
          </span>
          <!-- Project -->
        </h2>

        <p class="context-about mt-4 text-gray-600 text-lg ">
          <span class="text-xl font-medium" >Data Prabanjam</span> is a startup. Founded by three veterans in the Data Domain with over 60-man years of
          experience, collectively. Between them they have experience in all facets of data management, starting two
          decades ago with MIS, DSS and ESS. Progressed through the Data Warehouse, Data Marts, Business intelligence
          era, got their hands dirty in the BIGDATA world. Last 10 years, a lot of focus has been on creating Data
          Products that have the characteristics of any off-the-shelf product. Well packaged, with clear instructions
          (Metadata), QA certified (Data quality measured) and ready to be used.
          <br>
          Data Prabanjam’s goals are twofold. Provide Data Consulting Services and develop products that help with Data
          Analytics. Our potential customers will be other large service providers, financial institutions, retail
          chains, telcos and health care companies. Basically, Data Prabanjam offers its products and services to any
          organization that wants to be data driven.

        </p>
      </div>
    </div>

    <div class="row mt-3 align-items-center">
      <div class="col-md-7 ps-5">
        <p class="context-about ps-3 mt-2 text-gray-600 text-lg">
          We have an architecture driven methodology for building up a Data Management platform that is resilient and
          will guarantee results in quick time. The products we plan to develop will help organisations achieve their
          Data Driven goals. There are number of areas of a Data Platform that industry addresses well. But there are
          areas that are not addressed well to the extent they are non-existent. We focus on such areas. Examples are
          Active Metadata Management, Data Shopping & Delivery and Semantic Layer to name a few.
          <br>
          <br>

          Data Prabanjam founders say “Our USP is to save organizations time and money by reducing the number of
          iterations needed to put data to use. Most organizations need at least 3 iterations during which they create a
          product and correct it or improve it before it becomes useful. What we can do is reduce those number of
          iterations. We can do that because any data issue that an organisation faces, we have probably dealt with it
          at least 3 or 4 times. Our experience is our USP”.


        </p>
      </div>

      <div class="col-md-5 px-5">
        <img class="col-8 mx-auto" src="../../../assets/analytics.png" alt="">
      </div>
    </div>
  </div>

  <div class=" mt-5" #rwfd>
    <div class="row align-items-center">
      <div class="col-md-5">
        <img class="col-9 mx-auto" src="../../../assets/dictionary.png" alt="">
      </div>

      <div class="col-md-7 px-5">
        <!-- <p class="about mb-1 text-xs text-danger text-uppercase font-bold tracking-wider ">
          INFORMATION ABOUT Data Agarathi
        </p> -->

        <h2 class="text-4xl font-extrabold text-uppercase">
          Agarathi is a
          <span class=" text-danger">
             Tamil
          </span>
          word
        </h2>

        <div class="context-about mt-4 text-gray-600 text-lg ">
          “Data Agarathi” is a product that is radically different to most Metadata tools in the market. It is based on
          following fundamental principles:
          <br>
          <div class="px-3 mt-2">
            • All data in an organization needs to be described. Selectively describing some of the data based on
            business importance, regulatory needs or any other criteria results in wasted money and effort because
            business needs can’t be confined to criteria known at any point in time.
            <br>
            <br>
            • We preach and adapt an Active Metadata approach where Data is described when the data is created in the
            first place. Just like a car can’t be produced without specifications of every component it is going to use.
            A car is not first manufactured and then its specifications documented. Similarly, a piece of data, which is
            an asset, must be created to a specification.
            <br>
            <br>
            • A Data product cannot be fully utilized without having all three types of Metadata integrated. Our product
            integrates Business, Technical and Operational Metadata.
          </div>

          <br>
          Agarathi provides the tooling necessary to capture, integrate, maintain and publish Metadata. Unlike
          traditional notion of Metadata being a post event documentation, we advocate controlling processes with
          Metadata by adapting “Active Metadata” approach.

        </div>
      </div>
    </div>

  </div>

  <div class=" mt-5 pt-4" #businessMetadata>
    <div class="row align-items-center">

      <div class="col-md-7 px-5">
        <!-- <p class="about mb-1 text-xs text-danger text-uppercase font-bold tracking-wider ">
          Read about
        </p> -->

        <h2 class="text-4xl font-extrabold text-uppercase">
          Business
          <span class=" text-danger">
            Metadata
          </span>
        </h2>

        <div class="context-about mt-4 text-gray-600 text-lg ">
          All data assets that are defined, created and consumed directly by business are within the scope of Business
          Metadata. The assets can be atomic attributes are grouped together to create a “Data Product”, which is also
          an
          asset. We call this Data Product a Business Object.

        </div>
      </div>

      <div class="col-md-5">
        <img class="col-11 mx-auto" src="../../../assets/busMetadata.png" alt="">
      </div>
    </div>
  </div>

  <div class=" mt-5 pt-4" #operationalMetadata>
    <div class="row align-items-center">
      <div class="col-md-5 ps-5">
        <img class="col-12 mx-auto" src="../../../assets/oprMetadata.png" alt="">
      </div>

      <div class="col-md-7 px-5">
        <!-- <p class="about mb-1 text-xs text-danger text-uppercase font-bold tracking-wider ">
          Read about
        </p> -->

        <h2 class="text-4xl font-extrabold text-uppercase">
          Operational
          <span class=" text-danger">
            Metadata
          </span>
        </h2>

        <div class="context-about mt-4 text-gray-600 text-lg ">
          Operational data can be described as data that is needed to initiate, control and complete Data Management
          processes. Metadata describing Operational data is Operational Metadata. Most Metadata management tools in the
          market do not have the capability to harvest, integrate and store operational metadata.
          <br>
          <br>
          There are two kinds of
          Operational Metadata. There are those that are input to the processes or their control mechanisms. For
          example, Job Scheduling Metadata is an input to the data ingestion and computation processes. Whereas Logs
          produced by the Ingestion and Computation jobs can be treated as Operational Metadata.
        </div>
      </div>
    </div>
  </div>

  <div class=" mt-5 pt-4" #technicalMetadata>
      <div class="row align-items-center">
  
        <div class="col-md-7 px-5">
          <!-- <p class="about mb-1 text-center text-xs text-danger text-uppercase font-bold tracking-wider ">
            Read about
          </p> -->
    
          <h2 class="text-4xl font-extrabold text-uppercase">
            Technical
            <span class=" text-danger">
              Metadata
            </span>
          </h2>
    
          <div class="context-about mt-4 text-gray-600 text-lg ">
    
            Traditionally, this metadata is better managed in most organisations. Database Schema, File specifications,
            Message Pay Load definitions, API documentation are some of the examples of Technical Metadata. One key
            differentiator that Data Agarathi provides is the integration between Business Metadata and Technical Metadata.
            This enables technical events to be seen with a business lense. For example, instead of “JOB ID XXCCVV-001”
            completed successfully, we can now say “Customer Master data has been loaded successfully”.
    
          </div>
        </div>
  
        <div class="col-md-5">
          <img class="col-7 mx-auto" src="../../../assets/techMet.png" alt="">
        </div>
      </div>
  
    </div>
  </div>



  <div class=" mt-5 pt-5" #contact>
    <div class="row mt-4 p-4 align-items-center">

      <div class="row mt-4 align-items-center">
        <div class="col-md-4">
          <h2>
            Get in touch:
          </h2>

          <ul class="m-0 ms-2 mt-4 font-medium p-0">
            <li class="mt-2">
              <a target="_blank" class="text-black text-decoration-none" href="https://wa.me/6580426037">
                <!-- <i class="me-2 text-danger fa-solid fa-phone"></i> -->
                <i class="me-2 text-danger fa-brands fa-whatsapp"></i>
                +65 80426037
              </a>
            </li>
            <li class="mt-2">
              <a target="_blank" class="text-black text-decoration-none" href="mailto:Info@dataprabanjam.sg">
                <i class="me-2 text-danger fa-solid fa-envelope"></i>
                Info@dataprabanjam.sg
              </a>
            </li>
            <li class="mt-2">
              <i class="me-2 text-danger fa-sharp fa-solid fa-globe"></i>
              <a (click)="goToLink('http://www.dataprabanjam.sg')"
                class="cursor-pointer text-decoration-none text-black"> www.dataprabanjam.sg</a>
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <div class="row">
            <p class="about mb-1 text-uppercase text-xs text-danger font-bold tracking-wider ">
              Share your thoughts
            </p>

            <h2 class="text-4xl text-uppercase font-extrabold">
              Contact us
            </h2>
          </div>

          <form [formGroup]="formGroup" class="mt-4">
            <div class="row">
              <div class="col-md-4">
                <div class="field">
                  <label for="Name" title="Name" data-title="Name"></label>
                  <input formControlName="name" autocomplete="off" type="text" id="Name" name="Name" />
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="field">
                  <label for="Surname" title="Surname" data-title="Surname"></label>
                  <input formControlName="surname" autocomplete="off" type="text" id="Surname" name="Surname" />
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="field">
                  <label for="E-mail" title="E-mail" data-title="E-mail"></label>
                  <input formControlName="email" autocomplete="off" type="text" id="email" name="email" />
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-12">
                <div class="field">
                  <label for="Description" title="Description" data-title="Description"></label>
                  <textarea name="Description" style="height: 13vh;" formControlName="description"
                    id="Description"></textarea>
                </div>
              </div>

            </div>
          </form>

          <div class="row mt-3 justify-content-end">
            <div class="col-3">
              <button class="col-12 font-medium bg-danger text-white py-2 rounded-lg">
                Send
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-5 ">
    <footer class="border-t py-3 bg-black text-white  font-medium text-center">
      Copyright ©2022 All rights reserved | <span class="text-danger">Data Prabanjam</span>
    </footer>
  </div>
