<div class="p-3">
    <div class="row gap-y-2 relative align-items-center h-16">
        <div class="col-md-2 ">
            <img class="logo-header" src="../../../assets/logo.png" alt="">
        </div>

        <div class="text-center col-md-8 link-style  ">
            <ul class="social-links justify-content-center row p-0 m-0">
                <li class="w-fit">
                    <span>
                        Home
                    </span>
                </li>

                <li class="w-fit">
                    <span>
                        About
                    </span>
                </li>

                <li class="w-fit">
                    <span>
                        Products
                    </span>
                </li>

                <li class="w-fit">
                    <span>
                        Reviews & Feedbacks
                    </span>
                </li>
                <li class="w-fit">
                    <span>
                        Supports
                    </span>
                </li>

                <li class="w-fit">
                    <span>
                        Contact
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-md-2 p-0 h-16">
            <div
                class="addmember h-16 tracking-wider font-bold text-sm text-white d-flex align-items-center justify-content-center text-uppercase col-12 link-style">
                Data Prabanjam
            </div>
        </div>

        <div class="bar absolute right-0" style="top: -5px;"></div>

    </div>
</div>