<div class="pt-3">
  <div class="px-3">
    <div class="row gap-y-2 relative align-items-center h-16">
      <div class="col-md-2 ">
        <img class="logo-header" src="../../../assets/Metadata.jpeg" alt="">
      </div>

      <div class="text-center col-md-8 link-style  ">
        <ul class="social-links justify-content-center row p-0 m-0">
          <li class="w-fit">
            <span (click)="scroll(home)">
              Home
            </span>
          </li>

          <li class="w-fit">
            <span (click)="scroll(about)">
              About
            </span>
          </li>

          <!-- <li class="w-fit">
                    <span>
                        Products
                    </span>
                </li> -->

          <li class="w-fit" >
            <span (click)="scroll(rwfd)">
              Reviews & Feedbacks
            </span>
          </li>

          <!-- <li class="w-fit">
                        <span>
                            Supports
                        </span>
                    </li> -->

          <li class="w-fit">
            <span (click)="scroll(contact)">
              Contact
            </span>
          </li>
        </ul>
      </div>

      <div class="col-md-2 p-0 h-16">
        <div
          class="addmember h-16 tracking-wider font-bold text-sm text-white d-flex align-items-center justify-content-center text-uppercase col-12 link-style">
          Data Prabanjam
        </div>
      </div>

      <div class="bar absolute right-0" style="top: -5px;"></div>

    </div>
  </div>

  <div class="header-con" #home>
    <img src="../../../assets/data.webp" style="width: 100%; height: 100%;" alt="">
  </div>

  <div class=" mt-5" #about>
    <div class="row align-items-center">
      <div class="col-md-5">
        <img src="../../../assets/dataicon.jpg" alt="">
      </div>

      <div class="col-md-7 px-5">
        <p class="about mb-1 text-xs text-danger font-bold tracking-wider ">
          INFORMATION ABOUT US
        </p>

        <h2 class="text-4xl font-extrabold">
          DATA-PRA A
          <span class=" text-danger">
            DATA
          </span>
          COLLECTING
          <br>
          CENTER
        </h2>

        <p class="context-about mt-4 text-gray-600 text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laudantium iste quam fugiat quo, in
          nesciunt distinctio aut facere quia facilis provident et. Vitae optio cumque aperiam voluptatibus
          quod rerum dolore mollitia ab ad architecto, quos, cum corrupti dolores nobis.
        </p>
      </div>
    </div>
  </div>

  <div class=" mt-5" #rwfd>
    <div class="row p-4 align-items-center bg-blue-600">
      <p class="about mb-1 text-uppercase text-center text-xs text-danger font-bold tracking-wider ">
        WATCH OUR FEEDBACKS
      </p>

      <h2 class="text-4xl text-center text-uppercase font-extrabold">
        Our feedbacks and reviews
      </h2>

      <div class="row mt-4">
        <div class="col-md-3 ">
          <div class="py-3 px-2 bg-blue-500 text-center">
            <img src="../../../assets/person1.jpg" class="mx-auto"
              style="width: 170px; height: 170px ;border-radius: 50%;" alt="">

            <div class="mt-3 text-center text-xl font-bold">
              Jenie Dohe
            </div>

            <p class="mt-3 text-white">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, impedit?
            </p>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="py-3 px-2 bg-blue-500 text-center">
            <img src="../../../assets/person1.jpg" class="mx-auto"
              style="width: 170px; height: 170px ;border-radius: 50%;" alt="">

            <div class="mt-3 text-center text-xl font-bold">
              Jenie Dohe
            </div>

            <p class="mt-3 text-white">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, impedit?
            </p>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="py-3 px-2 bg-blue-500 text-center">
            <img src="../../../assets/person1.jpg" class="mx-auto"
              style="width: 170px; height: 170px ;border-radius: 50%;" alt="">

            <div class="mt-3 text-center text-xl font-bold">
              Jenie Dohe
            </div>

            <p class="mt-3 text-white">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, impedit?
            </p>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="py-3 px-2 bg-blue-500 text-center">
            <img src="../../../assets/person1.jpg" class="mx-auto"
              style="width: 170px; height: 170px ;border-radius: 50%;" alt="">

            <div class="mt-3 text-center text-xl font-bold">
              Jenie Dohe
            </div>

            <p class="mt-3 text-white">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, impedit?
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class=" mt-5" #contact>
    <div class="row p-4 align-items-center">
      <p class="about mb-1 text-uppercase text-center text-xs text-danger font-bold tracking-wider ">
        Share your thoughts
      </p>

      <h2 class="text-4xl text-center text-uppercase font-extrabold">
        Contact with us
      </h2>
      <div class="row mt-4 align-items-center">
        <div class="col-md-4">
          <h2>
            Get in touch:
          </h2>

          <ul class="m-0 ms-2 mt-4 font-medium p-0">
            <li class="mt-2">
              <i class="me-2 text-danger fa-solid fa-phone"></i>
              +000887774433
            </li>
            <li class="mt-2">
              <i class="me-2 text-danger fa-solid fa-envelope"></i>
              test@gmail.com
            </li>
            <li class="mt-2">
              <i class="me-2 text-danger fa-brands fa-facebook"></i>
              Data Pra
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <form  [formGroup]="formGroup">
            <div class="row">
              <div class="col-md-4">
                <div class="field">
                  <label for="Name" title="Name" data-title="Name"></label>
                  <input formControlName="name" autocomplete="off" type="text" id="Name" name="Name" />
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="field">
                  <label for="Surname" title="Surname" data-title="Surname"></label>
                  <input formControlName="surname" autocomplete="off" type="text" id="Surname" name="Surname" />
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="field">
                  <label for="E-mail" title="E-mail" data-title="E-mail"></label>
                  <input formControlName="email" autocomplete="off" type="text" id="email" name="email" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="field">
                  <label for="Description" title="Description" data-title="Description"></label>
                  <textarea name="Description" style="height: 13vh;" formControlName="description"
                    id="Description"></textarea>
                </div>
              </div>

            </div>
          </form>

          <div class="row justify-content-end">
            <div class="col-3">
              <button class="col-12 font-medium bg-danger text-white py-2 rounded-lg">
                Send
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-5 ">
    <footer class="border-t py-3 bg-black text-white  font-medium text-center">
      Copyright ©2022 All rights reserved | <span class="text-danger">Agarathi</span>  
    </footer>
  </div>